body {
    height: 100%;
    
    font-family: Arial;
    color: white;
    padding: 40px;
    
}
.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-image: url("/static/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}

textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color:#15262b;
    opacity: 0.5;
    border-radius: 10px;
    border: none;
    color: white;
}

button {
    padding: 10px 20px;
    background: #FD6731;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.5;
}

button:hover{
      opacity: 1.0;
}

#resultado {
    margin-top: 30px;
    padding: 20px;
}
